<p>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon routerLink="/" routerLinkActive="active">home</mat-icon>
    </button>
    <span>UnCovid</span>
    <span class="example-spacer"></span>
    <h3>Disclaimer: humari jawaabdaari nahi hai</h3>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <share-buttons [theme]="'outline'"
 [include]="['facebook','twitter','messenger','whatsapp','copy']"
 [show]="5"
 [size]="4"
 [url]="'https://twitter.com/amittspeaking'"
></share-buttons>
    </mat-menu>

  </mat-toolbar>
</p>