
<div class="slideshow-container">

    <div class="mySlides fade">
      <img src="../../../assets/img_mountains_wide.jpg" style="width:100%">
    </div>
    
    <div class="mySlides fade">
      <img src="../../../assets/img_nature_wide.jpg" style="width:100%">
    </div>
    
    <div class="mySlides fade">
      <img src="../../../assets/img_snow_wide.jpg" style="width:100%">
    </div>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>


    <div>
    <span> <a routerLink="/give-help" routerLinkActive="active">Give Help</a> </span>
    <span> <a routerLink="/take-help" routerLinkActive="active">Take Help</a> </span>
    </div>